# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually this is written by a pyinstaller spec file
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
# but keep __init__.py
!**/migrations/__init__.py

# Media files (uploaded files)
media/

# Static files
staticfiles/
static/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/

# celery beat schedule file
celerybeat-schedule

# Sphinx documentation
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
